body{
  background-color: #DDD !important;
}

.geral{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px #777;
}

.topo{
  border-bottom: 2px solid #34b7eb;
  height: 80px;
}

.conteudo{
  font-size: 16px;
  text-align: justify;
  padding: 25px;
  align-items: center;
}

.rodape{
  font-size: 20px;
  text-align: center;
  padding: 25px;
  color: #34b7eb;
  border-top: 2px solid #34b7eb;
}

.titulo-1{
  font-size: 25px;
  color: #34b7eb;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

#mensagem{
  color: red;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #444;
}

a:hover{
  text-decoration: underline;
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1000px;
  list-style: none;
  padding-top: 30px;
  font-weight: bold;
}

.menu li {
  width: 125px;
  height: 40px;
  text-align: center;
}

td{
  max-width: 60px;
  min-width: 60px;
  word-wrap: break-word;

}
