<form class="" action="?pagina=empresa&acao=atualizar" method="post">
  <input type="hidden" name="idEmpresa" id="idEmpresa" value="{{empresa.idEmpresa}}">
  <div class="titulo-1">
    Alteração de dados Empresa
  </div>
  <div id="mensagem">

  </div>

  <!-- Fieldset 1 -->
  <fieldset>
    <legend>Dados da Empresa</legend>
    <div class="">
      CNPJ
    </div>
    <div class="">
      <input type="text" name="cnpj" id="cnpj" class="form-control" maxlength="14" value="{{empresa.cnpj}}" required onchange="buscaCnpj()">
    </div>

    <div class="">
      Nome Epresarial
    </div>
    <div class="">
      <input type="text" name="nomeEmpresarial" id="nomeEmpresarial" class="form-control" maxlength="255" value="{{empresa.nomeEmpresarial}}" required>
    </div>

    <div class="">
      Nome Fantasia
    </div>
    <div class="">
      <input type="text" name="nomeFantasia" id="nomeFantasia" class="form-control" maxlength="255" value="{{empresa.nomeFantasia}}" required>
    </div>

    <div class="">
      Telefone
    </div>
    <div class="">
      <input type="text" name="telefone" id="telefone" class="form-control" maxlength="60" value="{{empresa.telefone}}" required>
    </div>

    <div class="">
      CNAE
    </div>
    <div class="">
      <input type="text" name="cnae" id="cnae" class="form-control" maxlength="9" value="{{empresa.cnae}}" required>
    </div>

  </fieldset>

  <br>

  <!-- Fieldset 2 -->
  <fieldset>
    <legend>Endereço</legend>

    <div class="">
      Logradouro
    </div>
    <div class="">
      <input type="text" name="logradouro" id="logradouro" class="form-control" maxlength="255" value="{{empresa.logradouro}}" required>
    </div>

    <div class="">
      Número
    </div>
    <div class="">
      <input type="text" name="numero" id="numero" class="form-control" maxlength="11" value="{{empresa.numero}}" required>
    </div>

    <div class="">
      Bairro
    </div>
    <div class="">
      <input type="text" name="bairro" id="bairro" class="form-control" maxlength="255" value="{{empresa.bairro}}" required>
    </div>

    <div class="">
      CEP
    </div>
    <div class="">
      <input type="text" name="cep" id="cep" class="form-control" maxlength="10" value="{{empresa.cep}}" required>
    </div>

    <div class="">
      Cidade
    </div>
    <div class="">
      <input type="text" name="cidade" id="cidade" class="form-control" maxlength="100" value="{{empresa.cidade}}" required>
    </div>

    <div class="">
      Estado
    </div>
    <div class="">
      <input type="text" name="estado" id="estado" class="form-control" maxlength="2" value="{{empresa.estado}}" required>
    </div>

  </fieldset>

  <br>
  <!-- Fieldset 3 -->
  <fieldset>
    <legend>Observação</legend>
    <input type="checkbox" name="obs" id="obs" onclick="addObs()">
    <label for="obs">Usar Observação</label>
    <div id="obsDiv">

      {% if empresa.obs %}
        <textarea name="obsTexto" id="obsTexto" class="form-control" rows="8" cols="80">{{empresa.obs}}</textarea>
      {%endif%}

    </div>
  </fieldset>

  </fieldset>

  <br>
  <div class="">
    <input type="submit" class="btn btn-primary" value="Cadastrar">
  </div>
</form>
