<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sistema - Cadastro de Empresas</title>
    <link rel="stylesheet" href="Css/Estilo.css">
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.css">

  </head>
  <body>
    <div class="geral">
      <div class="topo">
        <nav>
          <ul class="menu">
            <li><a href="?pagina=home">Home</a></li>
            <li><a href="?pagina=empresa">Empresas</a></li>
            <li><a href="?pagina=sobre">Sobre</a></li>
          </ul>
        </nav>
      </div>

      <div class="conteudo">
        {{conteudo}}
      </div>

      <div class="rodape">
        Sistema de Cadastro de Empresas
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="JS/JavaScript.js">

      </script>
      <script type="text/javascript" src="bootstrap-4.5.0-dist/js/bootstrap.js">

      </script>
      <script type="text/javascript" src="JS/vanilla-masker.js">

      </script>
    </div>
  </body>
</html>
