<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sistema - Cadastro de Empresas</title>
    <link rel="stylesheet" href="Css/Estilo.css">
  </head>
  <body>
    <div class="geral">
      <div class="topo">
        <nav>
          <ul>
            <li><a href="?pagina=home">Home</a></li>
            <li><a href="?pagina=empresa">Empresas</a></li>
            <li><a href="?pagina=sobre">Sobre</a></li>
          </ul>
        </nav>
      </div>

      <div class="conteudo">
        {{conteudo}}
      </div>

      <div class="rodape">
        Sistema de Cadastro de Empresas
      </div>

    </div>
  </body>
</html>
